<section>
  <form [formGroup]="form">
    <h3>Cadastro Tipo de Contas</h3>
    <div>
      <label>Nome: </label>
      <input type="text" formControlName="nome">
    </div>
    <div>
      <label>Conta: </label>
      <input type="text" formControlName="conta">
      <div>
        <input type="checkbox" formControlName="contem">
        <label>Contém</label>
      </div>
    </div>

    <button (click)="create()">CADASTRAR</button>
    <br><br>
    <button (click)="delete()">DELETE</button>
  </form>
</section>