section{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 150px;
}

div{
  padding: 20px 0px;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
th, td {
  padding: 10px;
  border: 1px solid #ddd;
}
th {
  background-color: #4CAF50;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}