<section>
  <form [formGroup]="form">
    <h3>Cadastro Tipo de Contas</h3>
    <div>
      <label>Nome: </label>
      <input type="text" formControlName="name">
    </div>
    <div>
      <label>Conta: </label>
      <input type="text" formControlName="conta">
      <input type="checkbox" formControlName="contem">
      <label>Contém</label>
    </div>
    <button (click)="teste()">botone</button>

    @if(form){
    <ul>
      <li>{{form.value.name}}</li>
      <li>{{form.value.conta}}</li>
      <li>{{form.value.contem}}</li>
    </ul>
    }
  </form>
</section>