<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_drop_down" />
<div class="navbar">
  <div class="nav">
    <ul>
      <a>INTRANET 2</a>
      <li><a [routerLink]="['Index']">Home</a></li>
      <li><a href="/">Materialização</a>
        <ul>
          <li><a href="#">Grupo de Lojas</a></li>
          <li><a href="#">Composiçoes</a></li>
          <li><a href="#">Grupo de Lojas</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['Importação']">Importação</a></li>
      <li><a href="/">Midias</a></li>
      <li><a href="/">Conteúdo</a></li>
      <li><a href="/">Provisionamento</a></li>
      <li><a href="/">Identificação</a></li>
    </ul>
    <ul>
      <li><a href="/">Rodrigo Mori</a></li>
      <li><a href="/">rodrigo.mori&commat;imusica.com.br</a></li>
    </ul>
  </div>
</div>