<section>
  <form action="">
    <label>Arquivo fatura:</label>
    <input type="file" [(ngModel)]="nome" name="first">
    <p><button (click)="read()">Enviar</button></p>
    <input type="text" value={{casa}}>
    <input type="text" [(ngModel)]="nome" placeholder="Digitai bro" name="first">
    <p>Nome digitado: {{ nome }}</p>
    @if (transacoes) {
    <div class="grid-container">
      @for (item of transacoes; track $index) {
      <div class="grid-item">Data: {{ item.data }} Title: {{ item.title }} Valor: {{ item.valor }}</div>
      }
    </div>
    }
  </form>
</section>